@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.fancy-title {
    font-size: 4rem;
}
.container .grid .row img{
    margin: auto;
    border-radius: 10px;
    height: 400px;
    margin: 20px;
}
.container .grid .row h2{
    font-weight: 700;
    font-size: 30px;
    padding: 20px;
}
.container .grid .row p{
    text-align: justify;
    margin: 20px;
    padding: 20px;
}